In [8]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import os
import pandas as pd

In [9]:
class CFG:
    data_dir: str = "../data/HeiChole_data/file/Hei-Chole1_Annotation_Phase.csv"

In [15]:
def video_to_fps(video_id: int):
    if video_id in [16, 17, 18, 19, 20, 23, 24]:
        return 50
    else:
        return 25

In [10]:
train_split = range(1, 18)
valid_split = range(18, 25)
train_split

range(1, 18)

In [11]:
df = pd.read_csv(CFG.data_dir, header=None)

In [12]:
df[1][10]

0

In [13]:
int(os.listdir("../data/HeiChole_data/HeiChole_1")[0].split(".")[0])

63

## Preprocess Action Part

In [16]:
df_train = pd.DataFrame()
df_train["video_id"] = list()
df_train["image_id"] = list()
df_train["phase"] = list()

for i in train_split:
    files = os.listdir(f"../data/HeiChole_data/HeiChole_{i}")

    for file in files:
        df = pd.read_csv(f"../data/HeiChole_data/file/Hei-Chole{i}_Annotation_Phase.csv", header=None)
        id = int(file.split(".")[0])

        frame_id = (id-1) * video_to_fps(i)
        try:
            phase = df[1][frame_id]
        except KeyError:
            print(i, id, frame_id)
        else:
            df_train = df_train.append(
                {
                    "video_id": int(i),
                    "image_id": int(id),
                    "phase": int(phase),
                },
                ignore_index=True,
            )

1 2199 54950
2 2038 50925
3 2881 72000
4 1274 31825
5 3131 78250
6 2890 72225
7 4188 104675
8 1713 42800
9 2690 67225
10 1791 44750
11 1414 35325
12 1792 44775
12 1793 44800
13 1979 49450
14 2132 53275
15 1981 49500
16 3695 184700
16 3696 184750
17 5104 255150

In [17]:
df_train["video_id"] = [int(video_id) for video_id in df_train["video_id"]]
df_train["image_id"] = [int(image_id) for image_id in df_train["image_id"]]
df_train["phase"] = [int(phase) for phase in df_train["phase"]]

In [19]:
df_train.tail()

       video_id  image_id  phase
42870        17      3207      1
42871        17      4568      5
42872        17      2119      1
42873        17      3561      3
42874        17      1376      1

In [31]:
df_train.to_csv("../data/HeiChole_data/train.csv", index=False)

In [21]:
df_valid = pd.DataFrame()
df_valid["video_id"] = list()
df_valid["image_id"] = list()
df_valid["phase"] = list()

for i in valid_split:
    files = os.listdir(f"../data/HeiChole_data/HeiChole_{i}")

    for file in files:
        df = pd.read_csv(f"../data/HeiChole_data/file/Hei-Chole{i}_Annotation_Phase.csv", header=None)
        id = int(file.split(".")[0])

        frame_id = (id-1) * video_to_fps(i)
        try:
            phase = df[1][frame_id]
        except KeyError:
            print(i, id, frame_id)
        else:
            df_valid = df_valid.append(
                {
                    "video_id": int(i),
                    "image_id": int(id),
                    "phase": int(phase),
                },
                ignore_index=True,
            )

18 1554 77650
19 1892 94550
20 1662 83050
20 1663 83100
21 1312 32775
22 1423 35550
23 1832 91550
24 2596 129750

In [30]:
df_valid["video_id"] = [int(video_id) for video_id in df_valid["video_id"]]
df_valid["image_id"] = [int(image_id) for image_id in df_valid["image_id"]]
df_valid["phase"] = [int(phase) for phase in df_valid["phase"]]

df_valid.to_csv("../data/HeiChole_data/dev.csv", index=False)

In [23]:
df_valid

       video_id  image_id  phase
0            18        63      0
1            18       823      1
2            18      1409      5
3            18       189      1
4            18        77      0
...         ...       ...    ...
12259        24      1404      1
12260        24      1410      1
12261        24       184      1
12262        24      2119      4
12263        24      1376      1

[12264 rows x 3 columns]

## Reformat csv

In [110]:
df_train = pd.read_csv("../data/HeiChole_data/train.csv")

In [116]:
df_train

       video_id  image_id  phase
0             1         1      0
1             1         2      0
2             1         3      0
3             1         4      0
4             1         5      0
...         ...       ...    ...
42873        17      5100      1
42874        17      5101      1
42875        17      5102      1
42876        17      5103      1
42877        17      5104      1

[42878 rows x 3 columns]

In [125]:
df_train[(df_train["video_id"] == 1) & (df_train["image_id"] == 8)]["phase"].iloc[0]

0

In [29]:
df_train.sort_values(
    by=["video_id", "phase"],
    inplace=True,
)
df_valid.sort_values(
    by=["video_id", "phase"],
    inplace=True,
)

df_valid.tail(
    n=500
)

       video_id  image_id  phase
12200        24      1799      3
12213        24      1772      3
12219        24      1766      3
12220        24      1821      3
12224        24      1835      3
...         ...       ...    ...
12221        24      2496      6
12222        24      2482      6
12231        24      2455      6
12232        24      2441      6
12237        24      2469      6

[500 rows x 3 columns]